@model AdvertisementsAPI.Models.Order
@{
    ViewData["Title"] = "AddOrder";
}

<h1>AddOrder</h1>

<div class="row justify-content-md-center">
    <div class="col-md-5">
        @using (Html.BeginForm("Order", "AddOrder", FormMethod.Post))
        {
            //@Html.ValidationSummary()
            @Html.AntiForgeryToken()

            <div class="card">
                <div class="card-header">
                    <div class="card-title">Add Order</div>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        @Html.LabelFor(m => m.ProductId)
                        @Html.TextBoxFor(m => m.ProductId, "", new { @class = "form-control", @placeholder = "Product Name" })
                        @Html.ValidationMessageFor(m => m.ProductId, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ItemNumber)
                        @Html.TextBoxFor(m => m.ItemNumber, "", new { @class = "form-control", @placeholder = "Product Category" })
                        @Html.ValidationMessageFor(m => m.ItemNumber, "", new { @class = "badge badge-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, "", new { @class = "form-control", @placeholder = "Product Category" })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "badge badge-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Quality)
                        @Html.TextBoxFor(m => m.Quality, "", new { @class = "form-control", @placeholder = "Product Category" })
                        @Html.ValidationMessageFor(m => m.Quality, "", new { @class = "badge badge-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.CustomerId)
                        @Html.TextBoxFor(m => m.CustomerId, "", new { @class = "form-control", @placeholder = "Product Category" })
                        @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "badge badge-danger" })

                    </div>


                    @*  <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "badge badge-danger" })
                @if (ViewBag.error != null)
                {
                <span class="badge badge-danger">@ViewBag.error</span>
                }
                </div>*@
                    @* <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "badge badge-danger" })
                </div>
                <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confim Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "badge badge-danger" })
                </div>*@
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-danger" value="Add TO Card" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>